<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AndiBanterBot</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <svg class="nav-icon" viewBox="0 0 16 16" aria-hidden="true">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                </svg>
                Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="twitchlogin">
                <svg class="nav-icon" viewBox="0 0 16 16" aria-hidden="true">
                    <circle cx="4.5" cy="8" r="3" fill="none" stroke="currentColor" stroke-width="1.4" />
                    <path d="M7.3 8h7.2M11.6 8v2.1M13.6 8v3" fill="none" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" />
                </svg>
                Twitch Login
            </NavLink>
        </div>

    </nav>
</div>
